<div class="question-card">
  <div class="question-header">
    <div class="question-number">{{ currentIndex + 1 }}</div>
    <div class="question-text">
      {{ question.label }}
    </div>
  </div>

  <div class="question-options">
    @for (option of question.options; track option) {
      <button
        mat-raised-button
        [class.option-button--yes]="option === 'Oui'"
        [class.option-button--no]="option === 'Non'"
        [class.option-button--selected]="selectedOption === option"
        (click)="onAnswer(option)"
      >
        {{ option }}
      </button>
    }
  </div>
</div>
