$font-size-2xs: 0.75rem;
$font-size-xs: 0.875rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-base: 1rem;
$font-size-base-plus: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.75rem;
$font-size-title-md: 1.75rem;
$font-size-title-lg: 2rem;
$font-size-title-xl: 2.25rem;
$font-size-text-mobile-adjusted: 0.875rem;
$font-size-emoji-lg: 2.25rem;
$font-size-emoji-md: 2rem;
$font-size-title-fluid-vw: 5.2vw;
